<div class="body">
  <div class="row justify-content-center">
    <!-- left content -->
    <div class="col-10 col-sm-2 m-3 border bg-light text-center">
      <!-- user profile -->
      <div class="card my-3 mx-auto bg-light" style="width: 100%;">
        <h5 class="card-title mt-2">{{user.name}}</h5>
        <img src="https://fakepersongenerator.com/Face/female/female1023202206940.jpg" class="card-img-top mx-auto"
          style="border-radius: 50%; max-width: 80px;" alt="...">
        <div class="card-body">
          <form action="/questions" method="post">
            <button type="submit" class="btn btn-success" onclick="return confirm('確定要交卷嗎？')" data-bs-toggle="modal" data-bs-target="#exampleModal">交卷</button>
          </form>
        </div>
      </div>
      <!-- flash message -->
      <div class="flash-message"></div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>請作答！</strong></br>請選擇題目作答！
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- question list -->
      <ul class="list-group mb-3">
        {{#each questions}}
        <a href="/questions/{{this._id}}" 
        class="list-group-item list-group-item-action {{#ifCond this._id ../currentQuestion._id}}active{{/ifCond}}">
          {{#if this.userAnswer}}
          題目{{incremented @index}}({{this.userAnswer}})
          {{else}}
          題目{{incremented @index}}
          {{/if}}
        </a>
        {{/each}}
      </ul>
    </div>
    
    <!-- middle content -->
    <div class="col-10 col-sm-6">
      <div class="row">
        <!-- question -->
        <div class="col-12">
          <div class="card m-3">
            <div class="card-header">
              題目
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{currentQuestion.topic}}</p>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- option -->
        <div class="col-12">
          <div class="row text-center mx-3 mt-2 justify-content-between">
            <!-- options for loop -->
            <div class="col-3 col-sm-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <form action="/questions/{{currentQuestion._id}}/A?next={{nextQuestion._id}}&number={{currentQuestionIndex}}" method="post">
                <button class="btn align-item-center {{#ifCond (lookup cookieAnswer currentQuestionIndex) 'A'}}btn-success{{else}}btn-primary{{/ifCond}}"> A</button>
              </form>
            </div>
            <div class="col-8 col-sm-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.A}}
            </div>

            <div class="col-3 col-sm-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <form action="/questions/{{currentQuestion._id}}/B?next={{nextQuestion._id}}&number={{currentQuestionIndex}}" method="post">
                <button class="btn align-item-center {{#ifCond (lookup cookieAnswer currentQuestionIndex) 'B'}}btn-success{{else}}btn-primary{{/ifCond}}"> B</button>
              </form>
            </div>
            <div class="col-8 col-sm-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.B}}
            </div>

            <div class="col-3 col-sm-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <form action="/questions/{{currentQuestion._id}}/C?next={{nextQuestion._id}}&number={{currentQuestionIndex}}" method="post">
                <button class="btn align-item-center {{#ifCond (lookup cookieAnswer currentQuestionIndex) 'C'}}btn-success{{else}}btn-primary{{/ifCond}}"> C</button>
              </form>
            </div>
            <div class="col-8 col-sm-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.C}}
            </div>

            <div class="col-3 col-sm-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <form action="/questions/{{currentQuestion._id}}/D?next={{nextQuestion._id}}&number={{currentQuestionIndex}}" method="post">
                <button class="btn align-item-center {{#ifCond (lookup cookieAnswer currentQuestionIndex) 'D'}}btn-success{{else}}btn-primary{{/ifCond}}"> D</button>
              </form>
            </div>
            <div class="col-8 col-sm-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.D}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right content -->
    <div class="col-10 col-sm-2">
      <!-- Ads part -->
      <div class="my-3 bg-light border" style="width: 80%;">
        <div class="d-flex bg-light border mx-auto my-3 align-items-center justify-content-center" style="width: 80%; height:75px">
          ADS
        </div>
        <div class="d-flex bg-light border mx-auto my-3 align-items-center justify-content-center" style="width: 80%; height:75px">
          ADS
        </div>
      </div>
    </div>
  </div>
</div>
