<div class="body">
  <div class="row justify-content-center">
    <!-- left content -->
    <div class="col-2 m-3 border bg-light text-center">
      <!-- user profile -->
      <div class="card my-3 mx-auto" style="width: 100%;">
        <h5 class="card-title">User Name</h5>
        <img src="https://fakepersongenerator.com/Face/female/female1023202206940.jpg" class="card-img-top mx-auto"
          style="border-radius: 50%; max-width: min-content; max-height: min-content;" alt="...">
        <div class="card-body">
          <a href="#" class="btn btn-success">交卷</a>
        </div>
      </div>
      <!-- flash message -->
      <div class="flash-message"></div>
      <!-- question list -->
      <ul class="list-group mb-3">
        {{#each questions}}
        <li class="list-group-item"><a href="/questions/{{this._id}}">題目{{@index}}</a></li>
        {{/each}}
      </ul>
    </div>

    <!-- middle content -->
    <div class="col-6">
      <div class="row">
        <!-- question -->
        <div class="col-12">
          <div class="card m-3">
            <div class="card-header">
              題目
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{currentQuestion.topic}}</p>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- option -->
        <div class="col-12">
          <div class="row text-center mx-3 mt-2 justify-content-between">
            <!-- options for loop -->
            <div class="col-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <a href="" class="btn btn-primary align-item-center">A</a>
            </div>
            <div class="col-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.A}}
            </div>

            <div class="col-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <a href="" class="btn btn-primary align-item-center">B</a>
            </div>
            <div class="col-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.B}}
            </div>

            <div class="col-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <a href="" class="btn btn-primary align-item-center">C</a>
            </div>
            <div class="col-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.C}}
            </div>

            <div class="col-2 border rounded mb-3 bg-light" style="line-height: 75px;">
              <a href="" class="btn btn-primary align-item-center">D</a>
            </div>
            <div class="col-9 border rounded mb-3 bg-light" style="line-height: 75px;">
              {{currentQuestion.D}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right content -->
    <div class="col-2">
      <!-- Ads part -->
      <div class="my-3 bg-light" style="width: 75%;">
        <div class="card m-3" style="width: 80%;">
          <img src="..." class="card-img-top" alt="ADS">
        </div>
        <div class="card m-3" style="width: 80%;">
          <img src="..." class="card-img-top" alt="ADS">
        </div>
      </div>
    </div>
  </div>
</div>